/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button {
    -fx-border-radius: 6px;
    -fx-background-color: #48a4eb;
    -fx-text-fill: white;
}

Button:focused {
    -fx-border-radius: 6px;
    -fx-background-color: #0c3c61;
    -fx-text-fill: white;
}
