/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Button {
    -fx-border-radius: 6px;
    -fx-background-color: #1985d8;
    -fx-color: white;
} */